<section class="instrument-wrapper">
  <div class="d-flex flex-column align-items-center">
    <div class="instrument d-flex flex-column">
      <span>{{instrument}}</span>
      <select [(ngModel)]="instrument_Id" [ngModelOptions]="{standalone: true}" class="form-select">
        <option *ngFor="let ins of instrumentList" [value]="ins.instrument_Id">{{ins.instrumentName}}</option>
      </select>
    </div>
    <div class="grades d-flex flex-column">
      <span>{{grades}}</span>
      <ul class="m-0 p-0 d-flex flex-wrap align-items-center list-unstyled">
        <li (click)="onGradeChange(i)" *ngFor="let i of data" [class.active]="i.active">
          {{i.name}}
        </li>
      </ul>
    </div>
  </div>
</section>
