<div class="card-wrapper d-flex align-items-start" *ngFor="let i of cardData">
  <img src="{{i.mainimg}}" alt="" class="img-start">
  <div class="card-content">
    <div class="card-content-top d-flex align-items-center justify-content-between">
      <div class="card-top-left">
        <h2>{{i.title}}</h2>
        <span>{{i.subtitle}}</span>
      </div>
      <div class="card-top-right d-flex flex-column align-items-center">
        <button class="btn {{i.btnclassname}}">{{i.btntext}}</button>
      </div>
    </div>
    <div class="card-content-bottom d-flex align-items-center justify-content-between">
      <div class="card-bottom-left">
        <span>{{i.titlesyllabus}} <a href="#">{{i.titlesyllabusanchor}}</a></span>
        <span>{{i.titlebook}} <a href="#">{{i.titlebookanchor}}</a></span>
        <span>{{i.titlenumber}}</span>
      </div>
      <div class="card-botttom-right d-flex align-items-center">
       <img src="{{i.spotifyimg}}" alt="">
       <img src="{{i.youtubeimg}}" alt="">
      </div>
    </div>
  </div>
</div>